<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inmobiliaria</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    
</head>
<body>
    <header>

        <div class="topnav">

            <a class="active" asp-area="" asp-controller="Home" asp-action="Index">Inmobiliaria Donnatto</a>

            <a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
            <a asp-area="" asp-controller="Usuarios" asp-action="Login">Ingresar</a>
            @if (User.IsInRole("Administrador"))
            {
                <a asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>

            }
            @if (User.IsInRole("Administrador") || User.IsInRole("Empleado"))
            {
                <a asp-area="" asp-controller="Propietarios" asp-action="Index">Propietarios</a>

                <a asp-area="" asp-controller="Inquilinos" asp-action="Index">Inquilinos</a>

                <a asp-area="" asp-controller="Inmuebles" asp-action="Index">Inmuebles</a>

                <a asp-area="" asp-controller="Contratos" asp-action="Index">Contratos</a>

                <a asp-area="" asp-controller="Pagos" asp-action="Index">Pagos</a>

                <a asp-area="" asp-controller="Usuarios" asp-action="Logout">Cerrar Sesion</a>
            }

            
        </div>

    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Inmobiliaria - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
   
</body>
</html>
